@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Mulish&display=swap');
body{
  font-family: 'Asap Condensed', sans-serif;
font-family: 'Mulish', sans-serif;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(460deg);
  }
} */
h1{
  font-size: 2rem !important;
  
  font-weight: bold !important;
}
h3{
  font-size: 1.2rem !important;
  
}

.text{
  /* background:; */
  /* background-repeat: no-repeat; */
  
color: #fff;
text-align: center;
  
  height: 8rem;
  background-color: #4299e1;
  display: flex;
/* margin: 1rem; */
  flex-direction: column;
  font-size: large;
  align-items:center;
  justify-content: space-evenly;
}

/* card css */
.card{
  /* border: 1px solid green; */
  margin: 0.8rem;
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 0.0rem 0.2rem 0.5rem -0.2rem rgba(130,130,130,0.75);
-webkit-box-shadow: 0.0rem 0.2rem 0.5rem -0.2rem rgba(130,130,130,0.75);
-moz-box-shadow: 0.0rem 0.2rem 0.5rem -0.2rem rgba(130,130,130,0.75);
}
.card:hover{
  box-shadow: -0.1rem 0.2rem 2.0rem -0.2rem rgba(153,141,141,0.75);
  -webkit-box-shadow: -0.1rem 0.2rem 2.0rem -0.2rem rgba(153,141,141,0.75);
  -moz-box-shadow: -0.1rem 0.2rem 2.0rem -0.2rem rgba(153,141,141,0.75);
}
.card-text{
  text-align: center;
  margin-top: 0.8rem;
}
.flexcards{
  /* background-color: black; */
  border: 1px solid black;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}